<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>Skillify</title>
        <link rel="icon" type="image/png" href="/icons/shrek.ico">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="school-outline"></ion-icon></span>
                    <span class="title"> SKILLIFY</span>
                </a>
            </li>
            <li>
                <a th:href="@{/home}">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="title"> Главная</span>
                </a>
            </li>
            <li>
                <a th:href="@{/customers}">
                    <span class="icon"><ion-icon name="people-circle-outline"></ion-icon></span>
                    <span class="title"> Клиенты</span>
                </a>
            </li>
            <li>
                <a th:href="@{/courses}">
                    <span class="icon"><ion-icon name="document-outline"></ion-icon></span>
                    <span class="title"> Курсы</span>
                </a>
            </li>
            <li>
                <a th:href="@{/teachers}">
                    <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                    <span class="title"> Преподаватели</span>
                </a>
            </li>
            <li>
                <a th:href="@{/invoices}">
                    <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                    <span class="title"> Заказы</span>
                </a>
            </li>
            <li class="active">
                <a th:href="@{/analytics}">
                    <span class="icon"><ion-icon name="podium-outline"></ion-icon></span>
                    <span class="title"> Аналитика</span>
                </a>
            </li>
            <li>
                <a th:href="@{/settings}">
                    <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                    <span class="title"> Настройки</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="information-circle-outline"></ion-icon></span>
                    <span class="title"> Помощь</span>
                </a>
            </li>
            <li>
                <a href="signup.html">
                    <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                    <span class="title"> Выход</span>
                </a>
            </li>
        </ul>
    </div>

            <!-- main -->
            <div class="main">
                <div class="topbar">
                    <div class="toggle">
                        <ion-icon name="menu-outline"></ion-icon>
                    </div>

                    <!-- user image -->
                    <div class="user">
                        <span class="icon"><ion-icon name="people-circle-outline"></ion-icon></span>
                    </div>
                </div>
                <!-- charts -->
                <div class="charts" id="charts-container">
                    <div class="charts-grid" id="charts-grid">
                        <div class="col-md-6" id="chart1">
                            <div class="box box1" id="box1">
                                <div id="spark1"></div>
                            </div>
                        </div>
                        <div class="col-md-6" id="chart2">
                            <div class="box box2" id="box2">
                                <div id="spark2"></div>
                            </div>
                        </div>
                        <div class="col-md-6" id="chart3">
                            <div class="box box3" id="box3">
                                <div id="spark3"></div>
                            </div>
                        </div>
                        <div class="col-md-6" id="chart4">
                            <div class="box box4" id="box4">
                                <div id="spark4"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- total revenue chart-->
                <h1 class="p-relative">Аналитика</h1>
                <div class="customers-details">
                    <div class="customers-box">
                        <div id="chart">
                            <div id="customers-count-chart"></div>
                        </div>
                    </div>
                    <div class="customers-activity-box">
                        <div id="activity-chart">
                            <div id="customers-activity-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="graphBox">
                    <div class="total-box">
                        <h2>Прибыль/Убытки</h2>
                        <div id="chart">
                            <div id="total-revenue-chart"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <script type="module" src="/js/mainPageChart1.js"></script>
        <script src="/js/toggle.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script src="/js/totalRevenueChart.js"></script>
        <script src="/js/customersChart.js"></script>
        <script src="/js/customersActivityChart.js"></script>
        <script src="/js/teachersPageSparkCharts.js"></script>
    </body>
</html>