<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <title>Skillify</title>
  <link rel="icon" type="image/png" href="/icons/shrek.ico">
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.1/css/buttons.dataTables.css">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/css/notifications.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="navigation">
  <ul>
    <li>
      <a href="#">
        <span class="icon"><ion-icon name="school-outline"></ion-icon></span>
        <span class="title">SKILLIFY</span>
      </a>
    </li>
    <li>
      <a th:href="@{/home}">
        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
        <span class="title">Главная</span>
      </a>
    </li>
    <li>
      <a th:href="@{/customers}">
        <span class="icon"><ion-icon name="people-circle-outline"></ion-icon></span>
        <span class="title">Клиенты</span>
      </a>
    </li>
    <li>
      <a th:href="@{/courses}">
        <span class="icon"><ion-icon name="document-outline"></ion-icon></span>
        <span class="title">Курсы</span>
      </a>
    </li>
    <li>
      <a th:href="@{/teachers}">
        <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
        <span class="title">Преподаватели</span>
      </a>
    </li>
    <li>
      <a th:href="@{/orders}">
        <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
        <span class="title">Заказы</span>
      </a>
    </li>
    <li class="active">
      <a th:href="@{/groups}">
        <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
        <span class="title">Группы</span>
      </a>
    </li>
    <li>
      <a th:href="@{/analytics}">
        <span class="icon"><ion-icon name="podium-outline"></ion-icon></span>
        <span class="title">Аналитика</span>
      </a>
    </li>
    <li>
      <a th:href="@{/settings}">
        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
        <span class="title">Настройки</span>
      </a>
    </li>
    <li>
      <a th:href="@{/help}">
        <span class="icon"><ion-icon name="information-circle-outline"></ion-icon></span>
        <span class="title">Помощь</span>
      </a>
    </li>
    <li>
      <a id="exitButton">
        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
        <span class="title">Выход</span>
      </a>
    </li>
  </ul>
</div>

<!-- main -->
<div class="main">
  <div class="topbar">
    <div class="toggle">
      <ion-icon name="menu-outline"></ion-icon>
    </div>
  </div>
  <div class="customers-container">
    <h1>Группы</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" data-whatever="@mdo">Добавить группу</button>
    <table id="example" class="customers-table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Курс</th>
        <th>Клиенты</th>
        <th>Дата</th>
        <th>Состояние</th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="group : ${groups}">
        <td th:text="${group.groupId}"></td>
        <td th:text="${group.course.name}"></td>
        <td th:text="${group.clientCount}"></td>
        <td th:text="${group.creationDate}"></td>
        <td th:text="${group.status}"></td>
        <td>
          <div class="btn-group">
            <a th:href="@{/groups/findById(id=${group.groupId})}" class="btn btn-success" id="editButton">
              <ion-icon name="pencil-outline"></ion-icon>
            </a>
            <a th:href="@{/groups/delete(id=${group.groupId})}" class="btn btn-danger" id="deleteButton">
              <ion-icon name="trash-outline"></ion-icon>
            </a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- ADD MODAL -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавление новой группы</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/groups/addNew}" method="post" id="addGroupForm">
          <div class="form-group">
            <label for="orderCourse" class="col-form-label">Курс:</label>
            <select class="form-control" id="orderCourse" name="course" required>
              <option value="">--ВЫБРАТЬ--</option>
              <option th:each="course : ${courses}" th:value="${course.courseId}" th:text="${course.name}">
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="orderClients" class="col-form-label">Клиенты:</label>
            <select multiple class="form-control" id="orderClients" name="clients" required>
              <option value="">--ВЫБРАТЬ--</option>
              <option th:each="client : ${customers}" th:value="${client.clientId}" th:text="${client.surname}">
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="groupDate" class="col-form-label">Дата начала:</label>
            <input type="date" class="form-control" id="groupDate" name="groupDate" value="2024-06-06" title="Введите дату" required>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>

<!-- UPDATE MODAL -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Изменение данных группы</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/groups/update}" th:method="post">
          <div class="form-group">
            <label for="groupClientUpdate" class="col-form-label">Клиент:</label>
            <select multiple class="form-control" id="groupClientUpdate" name="groupClientUpdate" required>
              <option value="">--ВЫБРАТЬ--</option>
              <option th:each="client : ${customers}"
                      th:value="${client.clientId}"
                      th:text="${client.surname}">
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="groupCourseUpdate" class="col-form-label">Курс:</label>
            <select class="form-control" id="groupCourseUpdate" name="groupCourseUpdate" required>
              <option value="">--ВЫБРАТЬ--</option>
              <option th:each="course : ${courses}"
                      th:value="${course.courseId}"
                      th:text="${course.name}">
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="groupDateUpdate" class="col-form-label">Дата начала:</label>
            <input type="date" class="form-control" id="groupDateUpdate" name="groupDateUpdate" title="Введите дату" required>
          </div>
          <!-- Скрытое поле для идентификатора группы -->
          <input type="hidden" id="groupId" name="groupId">
          <!-- Скрытое поле для указания метода запроса как PUT -->
          <input type="hidden" name="_method" value="put">
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>

<!-- DELETE MODAL -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Предупреждение об удалении</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Вы уверены, что нужно удалить данную группу из базы данных?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
        <a class="btn btn-primary" id="confirmedDeleteButton" href="">Да</a>
      </div>
    </div>
  </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="/js/toggle.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.1/js/dataTables.buttons.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.print.min.js"></script>
<script src="/js/downloadTableButtons.js"></script>
<script src="/js/groupButtons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/exitFunction.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDzwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
