<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Skillify</title>
    <link rel="icon" type="image/png" href="/icons/shrek.ico">
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="school-outline"></ion-icon></span>
                    <span class="title"> SKILLIFY</span>
                </a>
            </li>
            <li>
                <a th:href="@{/home}">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="title"> Главная</span>
                </a>
            </li>
            <li>
                <a th:href="@{/customers}">
                    <span class="icon"><ion-icon name="people-circle-outline"></ion-icon></span>
                    <span class="title"> Клиенты</span>
                </a>
            </li>
            <li>
                <a th:href="@{/courses}">
                    <span class="icon"><ion-icon name="document-outline"></ion-icon></span>
                    <span class="title"> Курсы</span>
                </a>
            </li>
            <li>
                <a th:href="@{/teachers}">
                    <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                    <span class="title"> Преподаватели</span>
                </a>
            </li>
            <li>
                <a th:href="@{/orders}">
                    <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                    <span class="title"> Заказы</span>
                </a>
            </li>
            <li>
                <a th:href="@{/analytics}">
                    <span class="icon"><ion-icon name="podium-outline"></ion-icon></span>
                    <span class="title"> Аналитика</span>
                </a>
            </li>
            <li>
                <a th:href="@{/settings}">
                    <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                    <span class="title"> Настройки</span>
                </a>
            </li>
            <li class="active">
                <a th:href="@{/help}">
                    <span class="icon"><ion-icon name="information-circle-outline"></ion-icon></span>
                    <span class="title"> Помощь</span>
                </a>
            </li>
            <li>
                <a id="exitButton">
                    <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                    <span class="title"> Выход</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- main -->
    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
            <!-- user image -->
            <div class="user">
                <span class="icon"><ion-icon name="people-circle-outline"></ion-icon></span>
            </div>
        </div>
        <h1 class="faq-h1"> Часто задаваемые вопросы </h1>
        <div class="faq-container">
            <div class="tab">
                <input type="checkbox" name="acc" id="acc1">
                <label for="acc1">
                    <h2>01</h2>
                    <h3>Управление списком клиентов, преподавателей</h3>
                </label>
                <div class="content">
                    <p>1) Для Добавления клиента/преподавателя необходимо нажать кнопку "Добавить клиента" В открывшемся окне требуется заполнить основные данные и нажать кнопку "Сохранить".</p>
                    <p>2) Для Изменения клиента/преподавателя необходимо нажать кнопку с изображением карандаша напротив выбранной записи. В открывшемся окне пользователь изменяет нужные данные и нажимает кнопку "Сохранить"</p>
                    <p>3) Удаление клиента/преподавателя происходит нажатием кнопки с изображением мусорного ведра напротив выбранной записи. В появившемся окне, для завершения процесса, нажать кнопку "Подтвердить"</p>
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" name="acc" id="acc2">
                <label for="acc2">
                    <h2>02</h2>
                    <h3>Управление списком курсов</h3>
                </label>
                <div class="content">
                    <p>1) Чтобы Добавить курс необходимо нажать кнопку "Добавить новый курс". В открывшемся окне требуется заполнить основные данные и нажать кнопку "Сохранить". ВНИМАНИЕ! Создании курса требуется назначить преподавателя. Без преподавателя курс не может быть сохранен в системе! </p>
                    <p>2) Для Изменения записи о курсе необходимо нажать кнопку с изображением карандаша напротив выбранной записи. В открывшемся окне пользователь изменяет нужные данные и нажимает кнопку "Сохранить"</p>
                    <p>3) Удаление клиента/преподавателя происходит нажатием кнопки с изображением мусорного ведра напротив выбранной записи. В появившемся окне, для завершения процесса, нажать кнопку "Подтвердить"</p>
                </div>
                </div>
            <div class="tab">
                <input type="checkbox" name="acc" id="acc3">
                <label for="acc3">
                    <h2>03</h2>
                    <h3>Управление заказами</h3>
                </label>
                <div class="content">
                    <p>1) Чтобы Добавить заказ необходимо нажать кнопку "Добавить новый заказ". В открывшемся окне требуется заполнить основные данные и нажать кнопку "Сохранить". </p>
                    <p>2) Для Изменения записи о заказе необходимо нажать кнопку с изображением карандаша напротив выбранной записи. В открывшемся окне пользователь изменяет нужные данные и нажимает кнопку "Сохранить"</p>
                    <p>3) Удаление заказа происходит нажатием кнопки с изображением мусорного ведра напротив выбранной записи. В появившемся окне, для завершения процесса, нажать кнопку "Подтвердить"</p>
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" name="acc" id="acc4">
                <label for="acc4">
                    <h2>04</h2>
                    <h3>Аналитика системных данных</h3>
                </label>
                <div class="content">
                    <p>На странице "Аналитика":</p>
                    <p>Графики "Заказы в месяц", "Зарплаты в год", "Продажи в год" и "Оборот" представляют доходы и расходы предприятия от деятельности преподавательского состава</p>
                    <p>Графики "Ожидаемое количество клиентов" и "Количество клиентов" помогают выявить текучку клиентов и проанализировать их оптимальное количество, для увеличения прибыли предприятия</p>
                    <p>График "Прибыль/Убытки" обощает все финансовые показатели и иллюстрирует общую ситуацию о финансовых делах предприятия</p>
                    <p>На странице "Главная":</p>
                    <p>График "Выручка в этом году" показывает доход предприятия от продаж онлайн-курсов. "Заказов"</p>
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" name="acc" id="acc5">
                <label for="acc5">
                    <h2>05</h2>
                    <h3>Настройка профиля</h3>
                </label>
                <div class="content">
                    <p>На странице "Настройки":</p>
                    <p>Пользователь программного средства может увидеть собственные данные: имя, фамилия, отчество, имя пользователя программного средства, почта и пароль</p>
                    <p>Редактирование данных пользователя осуществляется нажатием кнопки "Редактировать" и последующим изменением данных. По нажатию кнопки "Сохранить" происходит сохранение измененией в системе</p>
                    <p>В следующем обновлении:</p>
                    <p>1) Будет добавлено изменение языка интерфейса</p>
                    <p>2) Будет добавлено изменение темы программного средства</p>
                    <p>3) Будет добавлено управление уведомлениями программного средства</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/exitFunction.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="/js/toggle.js"></script>
</body>
</html>