<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>Skillify</title>
        <link rel="icon" type="image/png" href="/icons/shrek.ico">
        <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.1/css/buttons.dataTables.css">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/css/notifications.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="school-outline"></ion-icon></span>
                    <span class="title"> SKILLIFY</span>
                </a>
            </li>
            <li>
                <a th:href="@{/home}">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="title"> Главная</span>
                </a>
            </li>
            <li>
                <a th:href="@{/customers}">
                    <span class="icon"><ion-icon name="people-circle-outline"></ion-icon></span>
                    <span class="title"> Клиенты</span>
                </a>
            </li>
            <li>
                <a th:href="@{/courses}">
                    <span class="icon"><ion-icon name="document-outline"></ion-icon></span>
                    <span class="title"> Курсы</span>
                </a>
            </li>
            <li class="active">
                <a th:href="@{/teachers}">
                    <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                    <span class="title"> Преподаватели</span>
                </a>
            </li>
            <li>
                <a th:href="@{/invoices}">
                    <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                    <span class="title"> Заказы</span>
                </a>
            </li>
            <li>
                <a th:href="@{/analytics}">
                    <span class="icon"><ion-icon name="podium-outline"></ion-icon></span>
                    <span class="title"> Аналитика</span>
                </a>
            </li>
            <li>
                <a th:href="@{/settings}">
                    <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                    <span class="title"> Настройки</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="information-circle-outline"></ion-icon></span>
                    <span class="title"> Помощь</span>
                </a>
            </li>
            <li>
                <a href="signup.html">
                    <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                    <span class="title"> Выход</span>
                </a>
            </li>
        </ul>
    </div>

            <!-- main -->
            <div class="main">
                <div class="topbar">
                    <div class="toggle">
                        <ion-icon name="menu-outline"></ion-icon>
                    </div>
                    <!-- user image -->
                    <div class="user">
                        <span class="icon"><ion-icon name="people-circle-outline"></ion-icon></span>
                    </div>
                </div>


                <!-- teachers table -->
                <div class="teachers-container">
                    <h1>Преподаватели</h1>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" data-whatever="@mdo">Добавить преподавателя</button>
                    <table id= "example" class="teachers-table" style="width: 100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Имя</th>
                                <th>Фамилия</th>
                                <th>Отчество</th>
                                <th>Эл.почта</th>
                                <th>Зарплата</th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="teacher:${teachers}">
                                <td th:text="${teacher.teacherId}"></td>
                                <td th:text="${teacher.firstName}"></td>
                                <td th:text="${teacher.lastName}"></td>
                                <td th:text="${teacher.surname}"></td>
                                <td th:text="${teacher.email}"></td>
                                <td th:text="${teacher.salary}"></td>
                                <td>
                                    <div class="btn-group">
                                        <a th:href="@{/teachers/findById(id=${teacher.teacherId})}" class="btn btn-success" id="editButton"><ion-icon name="pencil-outline"></ion-icon></a>
                                        <a th:href="@{/teachers/delete(id=${teacher.teacherId})}" class="btn btn-danger" id="deleteButton"><ion-icon name="trash-outline"></ion-icon></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- ADD MODAL -->
                <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Добавление нового преподавателя</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/teachers/addNew}" method="post" id="addTeacherForm">
                                    <div class="form-group">
                                        <label for="firstNameAdd" class="col-form-label">Имя преподавателя:</label>
                                        <input type="text" class="form-control" id="firstNameAdd" name="firstName">
                                    </div>
                                    <div class="form-group">
                                        <label for="lastNameAdd" class="col-form-label">Отчество преподавателя:</label>
                                        <input type="text" class="form-control" id="lastNameAdd" name="lastName">
                                    </div>
                                    <div class="form-group">
                                        <label for="surnameAdd" class="col-form-label">Фамилия преподавателя:</label>
                                        <input type="text" class="form-control" id="surnameAdd" name="surname">
                                    </div>
                                    <div class="form-group">
                                        <label for="emailAdd" class="col-form-label">Электронная почта:</label>
                                        <input type="text" class="form-control" id="emailAdd" name="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="emailAdd" class="col-form-label">Зарплата:</label>
                                        <input type="text" class="form-control" id="salaryAdd" name="salary">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Сохранить</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- UPDATE MODAL -->
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="">Изменение данных преподавателя</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/teachers/update}" method="post" id="updateTeacherForm">
                                    <div class="form-group">
                                        <label for="firstNameAdd" class="col-form-label">Имя преподавателя:</label>
                                        <input type="text" class="form-control" id="firstNameUpdate" name="firstName">
                                    </div>
                                    <div class="form-group">
                                        <label for="lastNameAdd" class="col-form-label">Отчество преподавателя:</label>
                                        <input type="text" class="form-control" id="lastNameUpdate" name="lastName">
                                    </div>
                                    <div class="form-group">
                                        <label for="surnameAdd" class="col-form-label">Фамилия преподавателя:</label>
                                        <input type="text" class="form-control" id="surnameUpdate" name="surname">
                                    </div>
                                    <div class="form-group">
                                        <label for="emailAdd" class="col-form-label">Электронная почта:</label>
                                        <input type="text" class="form-control" id="emailUpdate" name="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="emailAdd" class="col-form-label">Зарплата (руб):</label>
                                        <input type="text" class="form-control" id="salaryUpdate" name="salary">
                                    </div>
                                    <!-- Скрытое поле для идентификатора клиента -->
                                    <input type="hidden" id="idUpdate" name="id">
                                    <!-- Скрытое поле для указания метода запроса как PUT -->
                                    <input type="hidden" name="_method" value="put">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Сохранить</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- DELETE MODAL -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Предупреждение об удалении</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Вы уверены, что нужно удалить данного преподавателя из базы данных?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                                <a class="btn btn-primary" id="confirmedDeleteButton" href="">Да</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- cards -->
                <div class="teachers-cards">
                    <div class="card">
                        <img src="img/img1.jpg" alt="Person 1">
                        <h2>Person 1</h2>
                        <p class="card-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum facere eligendi accusantium praesentium laudantium esse veniam quidem repudiandae voluptatibus alias veritatis nisi repellat ipsa eius debitis ad, architecto dolorum ipsam?</p>
                        <div class="buttons">
                            <button class="edit-btn">Изменить</button>
                            <button class="delete-btn">Удалить</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="img/img2.jpg" alt="Person 2">
                        <h2>Person 2</h2>
                        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia enim recusandae eligendi inventore, atque veniam alias voluptatum modi consequuntur corrupti vitae in repudiandae. Beatae doloremque illum repudiandae et, eum deleniti!</p>
                        <div class="buttons">
                            <button class="edit-btn">Изменить</button>
                            <button class="delete-btn">Удалить</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="img/img3.jpg" alt="Person 3">
                        <h2>Person 3</h2>
                        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ad officia magni aliquam dolorum esse, fuga maxime dolore perspiciatis tempora quam officiis cum suscipit velit dolores commodi a beatae quis.</p>
                        <div class="buttons">
                            <button class="edit-btn">Изменить</button>
                            <button class="delete-btn">Удалить</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="img/img6.jpg" alt="Person 6">
                        <h2>Person 6</h2>
                        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ad officia magni aliquam dolorum esse, fuga maxime dolore perspiciatis tempora quam officiis cum suscipit velit dolores commodi a beatae quis.</p>
                        <div class="buttons">
                            <button class="edit-btn">Изменить</button>
                            <button class="delete-btn">Удалить</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="img/img4.jpg" alt="Person 4">
                        <h2>Person 4</h2>
                        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ad officia magni aliquam dolorum esse, fuga maxime dolore perspiciatis tempora quam officiis cum suscipit velit dolores commodi a beatae quis.</p>
                        <div class="buttons">
                            <button class="edit-btn">Изменить</button>
                            <button class="delete-btn">Удалить</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="img/img5.jpg" alt="Person 5">
                        <h2>Person 5</h2>
                        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ad officia magni aliquam dolorum esse, fuga maxime dolore perspiciatis tempora quam officiis cum suscipit velit dolores commodi a beatae quis.</p>
                        <div class="buttons">
                            <button class="edit-btn">Изменить</button>
                            <button class="delete-btn">Удалить</button>
                        </div>
                    </div>
                </div>
                
                
        </div>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <script type="module" src="/js/teachersPageCharts.js"></script>
        <script src="/js/toggle.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.1/js/dataTables.buttons.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.dataTables.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.print.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script src="/js/teacherButtons.js"></script>
        <script src="/js/inputTeacherTablesCheck.js"></script>
        <script src="/js/downloadTableButtons.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>